.header {
  position: fixed;
  z-index: 1000;
  right: 0;
  padding: 10px;
  background-color: #fff;
}

.header p {
  margin: 0;
}

.header p:not(:last-child) {
  margin-bottom: 10px;
}

.main {
  width: 100vw;
  height: 100vh;
}
